.tabs {
  display: flex;
  align-items: center;
  border: 1px solid #dfe5ec;
  border-radius: 10px;
  overflow: hidden;
  max-height: 50px;
  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    padding: 15px;
    outline: none;
    background: #ffffff;
    border: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
    //&:focus {
    //  background: #2196f3;
    //  color: white;
    //}
    &.focus {
      background: #2196f3;
      color: white;
    }
    &:not(:last-child) {
      border-right: 1px solid #dfe5ec;
    }
  }
}

@media (max-width: 750px) {
  .tabs {
    flex-direction: column;
    max-height: 252px;
    grid-row: 1/3;
    grid-column: 2/3;
    .tab {
      justify-content: center;
      height: 33.33%;
      width: 100%;
      &:not(:last-child) {
        border-right: none;
        border-bottom: 1px solid #dfe5ec;
      }
    }
  }
}

@media (max-width: 540px) {
  .tabs {
    flex-direction: row;
    max-height: 50px;
    grid-row: 2/3;
    grid-column: 1/3;
    .tab {
      width: 33.33%;
      height: 100%;
      &:not(:last-child) {
        border-right: 1px solid #dfe5ec;
      }
    }
  }
}

@media (max-width: 480px) {
  .tabs {
    flex-direction: column;
    max-height: fit-content;
    .tab {
      width: 100%;
      border: none;
      &:not(:last-child) {
        border-right: none;
        border-bottom: 1px solid #dfe5ec;
      }
    }
  }
}
